body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.game-info {
  background: #fff;
  font-size: 40px;
  font-weight: bold;
  line-height: 70px;
  padding-top: 40px;
  text-align: center;
  width: 50%;
  min-width: 850;
}

.game-board {
  width: 50%;
  min-width: 850px;
}

.clue-display {
  font-size: 20px;
  padding-left: 5%;
  text-align: left;
}

.clue-input {
  padding: 5px;
  margin: 5px;
}

.clue-submit {
  padding: 5px;
  width: 65px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.card {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 160px;
}

.red {
  background: #D1816E;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 160px;
}

.blue {
  background: #6580E5;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 160px;
}

.bystander {
  background: #EAE1AC;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 160px;
}

.assassin {
  background: #fff;
  border: 10px solid black;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 160px;
}

.card:focus {
  outline: none;
}

.kbd-navigation .card:focus {
  background: #ddd;
}

